body{
    min-height: 100vh;
    background: linear-gradient(65deg, rgb(214,255,229), rgb(33,255,100));
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: rgb(0,0,179);
    margin-top: 100px;
}
#product{
    margin-top: 50px;
    background: #fff;
    box-shadow: -3px 6px 4px #222;
}
#qty{
    margin-top: 50px;
    background: #fff;
    box-shadow: -3px 6px 4px #222;
}
button{
    background: #fff;
    box-shadow: -3px 6px 4px #222;
    border-radius: 3cm;
}
ul{
    list-style: none;
    width: 500px;
}
ul li{
    width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow: -3px 6px 4px #222;
}